/dts-v1/;
#include <atmel/samd21.dtsi>

/ {
	model = "Auto Gauge";
	compatible = "auto_gauge", "atmel,samd21e18a", "atmel,samd21";

	chosen {
		zephyr,console = &sercom0;
		zephyr,shell-uart = &sercom0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&porta 10 0>;
			label = "blinky";
		};
	};

	gauge: drv8833_0 {
		status = "okay";
		compatible = "stepper,drv8833";
		id = <2>;
		gpios = <&porta 10 0>;
		label = "main";
	};
};

&cpu0 {
	clock-frequency = <48000000>;
};

&sercom0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	compatible = "atmel,sam0-spi";
	//current-speed = <115200>;
	dipo = <2>;
	dopo = <1>;

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812";

		reg = <0>;
		spi-max-frequency = <24000000>;


		chain-length = <12>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x00>;

	};
};

//missing 2 more sercoms...

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		// is this needed if we dont use a bootloader?
		boot_partition: partition@0 {
			label = "uf2";
			reg = <0x00000000 0x2000>;
			read-only;
		};

		code_partition: partition@2000 {
			label = "code";
			reg = <0x2000 0x3A000>;
			read-only;
		};

		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x4000>;
		};
	};
};

&usb0 {
	status = "okay";
};
